*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Alef", sans-serif;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}

.nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}

.nav-part2{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.nav h2{
    font-size: 2vw;
    font-weight: 700;
}

.nav h4{
    font-size: 1vw;
}

.nav i{
    font-size: 1.6vw;
    font-weight: 800;
    display: none;
}

.content{
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
}

.left{
    width: 55%;
    height: 100%;
    padding: 4vw 4vw;
}

.left h1{
    font-size: 3vw;
}

.left p{
    font-size: 1.2vw;
    font-weight: 600;
    color: grey;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
}

.left h1 span{
    color: lightseagreen;
}

.right{
    width: 45%;
    height: 100%;
}

.button-link{
    text-decoration: none;
    border-radius: 5%;
    background-color: lightseagreen;
    color: white;
    font-size: 1vw;
    font-weight: 700;
    padding: 1vw 2vw;
}

@media (max-width:600px){
    .nav{
        background-color: lightseagreen;
        color: white;
        height: 60px;
        padding: 0 6vw; 
    }
    .nav h2{
        font-size: 6vw;
    }
    .nav h4{
        font-size: 4vw;
        display: none;
    }
    .nav i{
        display: block;
        font-size: 5vw;
    }
}